<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <title>Geometierechner</title>

</head>

<body>

    <div class="jumbotron text-center">
        <header>
            <h1 id="title">Mathe Geometierechner</h1>
        </header>
    </div>

    <form action="{{ url_for('recive_form') }}" method='POST'>

        <div class="container">

            <!--Zeile für Ausgabefelder-->
            <div class="row">
                <div class="col-sm-2"></div>

                <!--Den benutzten von equilateral, obtuse-angled, acute-angled oder right_angled abfüllen-->
                <div class="col-sm-3 text-left">
                    <p id="equilateral">gleichschenklig</p>
                    <p id="obtuse-angled"></p>
                    <p id="acute-angled"></p>
                    <p id="right_angled">rechtwinklig</p>
                </div>

                <div class="col-sm-3 text-left">
                    <p id="height"></p>
                </div>

                <div class="col-sm-3 text-left">
                    <p id="area"></p>
                </div>
            </div>

            <!--Zeile für Input und Output von Winkel C-->
            <div class="row">
                <div class="col-sm-5"></div>

                <div class="col-sm-4">
                    <input value="{{ angle_c }}" type="text" id="angle_c" name="angle_c" placeholder="Winkel C"><br>
                </div>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br />

            <!--Zeile für Input und Output von Seite A und B sowie die Ausgabe des Dreiecks-->
            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-2">
                    <input value="{{ site_b }}" type="text" id="site_b" name="site_b" placeholder="Seite b"><br>
                </div>

                <div class="col-sm-4">
                    <!--Nur das anzeigen, welches ausgegeben werden soll-->
                    <div id="gleichseitig"></div>
                    <div id="stumpfwinklig"></div>
                    <div id="spitzwinklig"></div>
                    <div id="rechtwinklig"></div>

                </div>

                <div class="col-sm-3">
                    <input value="{{ site_a }}" type="text" id="site_a" name="site_a" placeholder="Seite a"><br>
                </div>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br />

            <!--Zeile für Input und Output von Winkel A, Winkel B und Seite C-->
            <div class="row">
                <div class="col-sm-5">
                    <input value="{{ angle_a }}" type="text" id="angle_a" name="angle_a" placeholder="Winkel A"><br>
                </div>

                <div class="col-sm-5">
                    <input value="{{ site_c }}" type="text" id="site_c" name="site_c" placeholder="Seite c"><br>
                </div>

                <div class="col-sm-2">
                    <input value="{{ angle_b }}" type="text" id="angle_b" name="angle_b" placeholder="Winkel B"><br>
                </div>
            </div>

            <br />

            <!--Rechnen und Reset Button-->
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit">rechen</button>
                    <button type="reset"><a href="/">reset</a></button>
                </div>
            </div>

        </div>

    </form>
    <br />

    <div class="jumbotron text-center">
        <footer>
            <h2 id="create">Made by: Sandro Suter, Linus Aregger, Nico Menzi, Fynn Westerath, Tobias Bertschi</h2>
        </footer>
    </div>

</body>

</html>